.bg{
    -fx-background-color:transparent;
}
.borderPane{
    -fx-background-color:#2B2B2B;
    -fx-background-radius:30;
}
.borderCenter{
    -fx-background-color:linear-gradient(to bottom,#EE4540, #C72C41, #801336, #510A32 ,#2D142C);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 20, 0.4, 0.5, 0.5);
}
.btn-vbox{
    -fx-background-color:transparent;
}
.btn-vbox:hover{
    -fx-background-color:#F66E63;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.1, 0.0, 0.5);
}
.btnRightPane{
    -fx-background-color:rgba(128, 19, 54,0.7);
    -fx-background-radius:0 30 30 0;
}
.playbtn{
    -fx-background-radius:10;
    -fx-background-color:#C92A42;
}
.playbtn:hover{
    -fx-background-color:#F66E63;
}
.stackPane{
    -fx-background-color:linear-gradient(to bottom,#EE4540, #C72C41, #801336, #510A32 ,#2D142C);
    -fx-background-radius:0 30 30 0;
}
.enterName{
   -fx-background-color:linear-gradient(to bottom,#EE4540, #C72C41, #801336, #510A32 );
    -fx-background-radius:10;
}
.startGame{
    -fx-background-radius:10;
    -fx-background-color:#C92A42;
}
.startGame:hover{
    -fx-background-radius:10;
    -fx-background-color:#F66E63;
}