
.bg{
    -fx-background-color:#F7F7F7;
    -fx-background-radius:0 30 30 0;
}
.anchor{
    -fx-background-color:#C92A42;
    -fx-background-radius:10;
}
.anchor0{
    -fx-background-color:#D7C3B6;
    -fx-background-radius:10;
}
.anchor2{
    -fx-background-color:#999999;
    -fx-background-radius:10;
}
.vbox{
    -fx-background-color:#D7C3B6;
    -fx-background-radius:10;
}